* {
  color:white;
  margin:0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,h2 {
  margin:15px 0 15px 0;
}

.sign-up-btn {
  border-radius: 10px;
  border:none;
  padding:8px;
  margin:15px 0 15px 0;
}

/*NAV*/

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height:30px;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-left{
  float:left;
  margin: 0 0 0 20px;
}

.top-links {
  display: inline-block;
  float:right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

/*HEADER*/

header {
  background-image: url(images/city-scape.svg);
  background-repeat: no-repeat;
  background-position: 0 0 ;
  background-size: cover;
  height:400px;
}

/*HEADER - SEARCH*/

/*Search bar*/

.search-bar{
  height:45px;
  position:relative;
  padding:10px;
}

/*Search bar elements*/

#npm-logo-search-bar,#bear-logo-search-bar, .search-btn, input[type=search], #login {
  float:left;
  height:40px;
}

#npm-logo-search-bar,#bear-logo-search-bar, #login {
  margin:0 5px 0 5px;
}

input[type=search], .search-btn {
  background-color: rgb(31, 82, 111);   
  border-color: #4C738B;
  border-style:solid;
  color: grey;
  padding:5px;
}

input[type=search] { 
  border-width:1px;
  width: 70%;
}

.search-btn {
  border-width: 1px 1px 1px 0;
  width: 5%;
}

#login{
  width:10%;
  text-align:center;
}

#login a {
  text-decoration: none;
  line-height:30px;
}

/*HEADER-CONTENT*/

.content-header{
  width: 60%;
  margin: 0 auto;
  height:250px;
}

.content-header-left {
  float: left;
  width: 50%;
}

.orange-btn {
  background-color: rgb(240, 146, 51);
}

/*SECTION COLLABORATION*/

#collaboration{
  background-color: rgb(39, 53, 71);
  padding:30px;
}

.collaboration-content{
  margin: 0 auto;
  width:65%;
  padding: 5px;
}

.collaboration-img{
  float:left;
  width:50%;
  padding:30px;
}

.clearfix {
  overflow: auto;
}

.red-btn {
  background-color: rgb(203, 56, 55);
}

/*SECTION DEFINITION*/

#definition{
  background-image: url(images/forklift.svg);
  background-size: cover;
  height:400px;
  position:relative;
}

.definition-content{
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 250px;
  width: 350px;
}

.blue-btn {
  background-color: rgb(49, 68, 88);
}
