/*GENERAL*/

* {
  margin:0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color:rgba(255,255,255,0.8);
}

/*USED ACROSS SEVERAL SECTIONS*/

h1,h2 {
  margin:15px 0;
  font-weight: lighter;
}

.sign-up-btn {
  border-radius: 10px;
  border:none;
  padding:8px;
  margin:15px 0;
  color:white;
}

.centered {
  margin: 0 auto;
}

.link, nav a {
  text-decoration: none;
  color:rgba(255,255,255,0.8);
}

/*NAV*/

nav {
  background-color: #C12127;
  padding-top: 15px;
  height:40px;
}

.top-left{
  float:left;
  margin: 0 0 0 20px;
}

.top-links {
  float:right;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

/*HEADER*/

header {
  background-image: url(images/city-scape.svg);
  background-position: 0 0 ;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Search bar*/

.search-bar{
  height:45px;
  padding:10px;
}

/*Search bar elements*/

.search-bar-element {
  float:left;
  height:40px;
}

/*add style to independent elements*/

#npm-logo,#bear-logo, #login {
  margin:0 8px;
}

#login a {
  line-height:30px;
}

/*add style to visually grouped elements*/

#my-search, #search-btn {
  background-color: rgb(31, 82, 111);   
  border-color: #4C738B;
  border-style:solid;
  color: grey;
  padding:5px;
}

#my-search { 
  border-width:1px;
  width: 70%;
}

#search-btn {
  border-width: 1px 1px 1px 0;
  width: 5%;
}

/*Header content*/

.content-header{
  width: 60%;
  height:275px;
}

.content-header-left {
  float: left;
  width: 50%;
}

.orange-btn {
  background-color: rgb(240, 146, 51);
}

/*SECTION COLLABORATION*/

#collaboration{
  background-color: rgb(39, 53, 71);
  padding:30px;
}

.collaboration-content{
  width:65%;
  padding: 5px;
}

.collaboration-img{
  float:left;
  width:50%;
  padding:30px;
}

.clearfix {
  overflow: auto;
}

.red-btn {
  background-color: rgb(203, 56, 55);
}

#collaboration a {
  font-weight:bold;
}

.collaboration-offset {
  padding: 0px 0px 0px 460px;
}

/*SECTION DEFINITION*/

#definition{
  background-image: url(images/forklift.svg);
  background-position: 0 0 ;
  background-repeat: no-repeat;
  height:400px;
  position:relative;
}

.definition-content{
  position: absolute;
  top: 100px;
  left: 250px;
  width: 350px;
}

.blue-btn {
  background-color: rgb(49, 68, 88);
}

/*SECTION USE*/

#use {
  color: rgb(83, 88, 98);
  padding:30px;
}

#use p{
  color: rgb(135, 145, 156); 
}

.use-heading{
  width:60%;
  text-align:center;
}

.use-content{
  width:80%;
  position:relative;
}

.usage-box{
  float:left;
  width:33%;
  padding: 30px 0px 10px 0;
  text-align: center;
}

.usage-box p {
  padding:0 20px 20px 20px;
}

.usage-box a {
  text-decoration: none;
  color:rgb(208, 74, 73);
}

.usage-box h4 {
  padding:10px;
}